# PostHog Configuration
VITE_POSTHOG_KEY=phc_NRHcPeLPyo37XKzLRMgZ1D3ezgVD43gAwyCGxi9eNgv
VITE_POSTHOG_HOST=https://app.posthog.com

# Backend Configuration
VITE_GRAPHQL_URI=http://localhost:4000/graphql

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=AIzaSyA5HzuZrXaBneOFj0hLvukDvhH1KHDl6Io
